/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Body Styling */
body {
  background: #f0f4f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

/* Heading */
.container h2 {
  color: #0e5f4c;
  margin-bottom: 10px;
}

/* Subheading */
.container p {
  margin-bottom: 25px;
  color: #555;
  font-size: 15px;
}

/* Buttons */
.container button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background-color: #0e5f4c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color:#40675d;
}
