<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <link rel="stylesheet" href="reset-password.css">
</head>
<body>
    
    <form id="resetForm">
        <h2>Reset Your Password</h2>
        <input type="password" id="newPassword" placeholder="New Password" required />
        <input type="password" id="confirmPassword" placeholder="Confirm Password" required />
        <button type="submit">Change Password</button>
    </form>

    <script src="reset-password.js"></script>

</body>
</html>